<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grady Conwell - Portfolio</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    {% include "navbar.html" %}

    <!-- Title Card-->
    <header>
        <div class="title-card">
            <h1>Hi, I'm Grady Conwell</h1>
            <p>Mechanical and Mechatronic Engineering Student</p>
            <p id="message"></p>
        </div>
    </header>

    <!-- About Section-->
    <section id="about" class="content-container">
        {% markdownInclude "./src/about.md" %}
    </section>

    <!-- Projects Section-->
    <section id="projects" class="projects-grid">
        {% for project in collections.projects %}
            <a class="project-card" href="{{ project.url }}">
                <div class="project-image">
                    <img src="{{ project.data.image }}" alt="{{ project.data.title }}">
                </div>
                <div class="project-content">
                    <h3>{{ project.data.title }}</h3>
                    <p>{{ project.data.description }}</p>
                </div>
            </a>
        {% endfor %}
    </section>

    <!-- Contact Section-->
    <section id="contact" class="content-container">
        {% markdownInclude "./src/contact.md" %}
    </section>

    {% include "footer.html" %}
</body>
</html>

