#popup-form {
    animation: fadeIn 0.3s ease-in-out;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 12px;
    color: black;
    width: 500px;
    text-align: center;
}

#popup-form input {
    margin: 10px 0;
    padding: 12px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    font-size: 16px;
}

#popup-form button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #403B3B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#popup-form button:hover {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}